body {background-color: #f6cabc;}

.title {
  background-color:  #f6cabc;
  margin-bottom: 20px;
}

 h1 {
   font-size: 5vw;
   display: block;
   background-color:#f6cabc;
   padding: 5px;
   text-align: center;
  
}

h3 {
  text-align: center;
  padding-bottom: 1em;
}

.card {
  border-bottom: 2em solid #f6cabc ;
}

.aboutMe {
font-size: 1.2em;
padding: 3%;
}

  @media only screen and (max-width: 660px) {
.aboutMe {
  padding-left: 15%;
  padding-right: 15%;
}}

@media only screen and (max-width: 482px) {
.aboutMe {
padding-left: 20%;
padding-right: 20%;

}}



